version: '3.8'

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: coldfrontlich
      POSTGRES_DB: bookingdb
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
    depends_on:
      - kafka
  
  api-service:
    build: ./api-service
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgresql://coldfrontlich:password@postgres:5432/bookingdb"
      KAFKAJS_NO_PARTITIONER_WARNING: "1"
    depends_on:
      - postgres
      - kafka
    restart: on-failure

  booking-service:
    build: ./booking-service
    environment:
      DATABASE_URL: "postgresql://coldfrontlich:password@postgres:5432/bookingdb"
      KAFKAJS_NO_PARTITIONER_WARNING: "1"
    depends_on:
      - postgres
      - kafka
    restart: on-failure

volumes:
  postgres_data: